body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 20px;
}

h2 {
  color: darkblue;
}

#hobbies {
  display: flex;
  gap: 20px;
}

footer {
  margin-top: 10px;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
